.FilterMeals {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120rem;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #f2f2f2;
}

.InputOuter {
    position: relative;
    display: flex;
    align-items: center;
}


.SearchInput {
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 16px;
    background-color: #f2f2f2;
    padding-left: 60rem;
    font-size: 32rem;
}

.SearchIcon {
    color: red;
    font-size: 40rem;
    position: absolute;
    left: 10rem;
    color: #aaa;
}